.status-agendado {
  color: green;
}

.status-cancelado {
  color: red;
}

.status-concluido {
  color: grey;
}

ion-card-title {
  font-size: 18px;
}

ion-fab {
  font-size: 20px;
}

span {
  display: inline-block;
  background-color: #eeeeee;
  padding: 2px;
  margin-right: 2px;

}

.conteudo-modal {
  text-align: center;
  font-size: 18px;
}
