<ion-content [fullscreen]="true" class="login-content">
  <div class="bg-glow"></div>

  <div class="login-shell ion-padding">
    <div class="brand-block">
      <div class="brand-icon">✦</div>
      <h1>Miss Maravilha</h1>
    </div>

    <ion-card class="login-card">
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item lines="none" class="soft-input">
            <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
          </ion-item>

          <ion-item lines="none" class="soft-input ion-margin-top">
            <ion-input [type]="pwHidden() ? 'password' : 'text'" placeholder="Senha" formControlName="password"></ion-input>
            <ion-button fill="clear" slot="end" (click)="pwHidden.set(!pwHidden())">
              {{ pwHidden() ? 'Mostrar' : 'Ocultar' }}
            </ion-button>
          </ion-item>

          <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="form.invalid">
            Entrar
          </ion-button>

          <div class="divider">ou</div>

          <ion-button color="light" expand="block" (click)="onGoogle()">
            Entrar com Google
          </ion-button>

          <p class="signup-copy">
            Não tem conta?
            <a (click)="onSignUp()">Criar conta</a>
          </p>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
