<ion-content [fullscreen]="true" class="login-container">

  <div class="logo-container">
    <img src="/assets/logo-miss.png" class="logo" />
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

    <ion-item lines="none" class="input-item">
      <ion-input formControlName="email" type="email" placeholder="Email">
      </ion-input>
    </ion-item>

    <ion-note color="danger" *ngIf="form.controls.email.invalid && form.controls.email.touched">
      Email inválido
    </ion-note>

    <ion-item lines="none" class="input-item password-item">
      <ion-input formControlName="password" [type]="pwHidden() ? 'password' : 'text'" placeholder="Senha">
      </ion-input>

      <ion-icon slot="end" name="eye-outline" class="eye-icon" (click)="pwHidden.set(!pwHidden())">
      </ion-icon>

    </ion-item>

    <ion-note color="danger" *ngIf="form.controls.password.invalid && form.controls.password.touched">
      Mínimo 6 caracteres
    </ion-note>

    <ion-button expand="block" class="login-button" type="submit" [disabled]="form.invalid">

      ✨ Entrar na Miss

    </ion-button>

    <ion-button expand="block" fill="outline" class="google-button" (click)="onGoogle()">

      <ion-icon name="logo-google" slot="start"></ion-icon>
      Entrar com Google

    </ion-button>

    <div class="signup-link">
      <span>Não tem conta?</span>
      <a (click)="onSignUp()">Criar agora</a>
    </div>

  </form>

  <form [formGroup]="form" (ngSubmit)="onSignUp()" class="form-container">

  </form>


</ion-content>
