.categorias div {
  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);

  border: 1px solid rgba(230, 210, 190, 0.5);
  border-radius: 20px;
}

.categorias ion-img {
  width: 100%;
}

.ion-margin-horizontal {
  margin-left: 20px;
}

.categorias ion-col {
  margin: 0px;
}

.toolbar-home {
  padding: 20px;
  padding-left: 0px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info ion-avatar {
  width: 36px;
  height: 36px;
}

.user-info span {
  display: block;
  font-size: 10px;
}

.title-agendar {
  padding: 22px;
  padding-left: 10px;
  padding-right: 10px;

}

.principal-agendar {}
