<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Novo agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-item>
      <ion-input label="Nome" labelPlacement="stacked" formControlName="clienteNome"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="form.controls.clienteNome.touched && form.controls.clienteNome.invalid">
      Informe o nome do cliente.
    </ion-note>

    <ion-item>
      <ion-input label="Telefone" labelPlacement="stacked" formControlName="clienteTelefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Serviço" labelPlacement="stacked" formControlName="servico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Profissional (opcional)" labelPlacement="stacked" formControlName="profissional"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-datetime presentation="date-time" formControlName="dataHora"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-textarea label="Observações" labelPlacement="stacked" formControlName="observacoes"></ion-textarea>
    </ion-item>

    <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="form.invalid">
      Salvar agendamento
    </ion-button>
  </form>
</ion-content>
