<ion-header>
  <ion-toolbar class="toolbar-agenda">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home" text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- 1. DIA -->
    <ion-row>
      <ion-col>
        <h3 class="titulo-horario">1. Selecione o dia</h3>

        <div class="agenda-header">
          <button type="button" (click)="semanaAnterior()">
            <ion-icon name="chevron-back-circle"></ion-icon>
          </button>

          <span class="titulo">{{ mesAtual }}</span>

          <button type="button" (click)="proximaSemana()">
            <ion-icon name="chevron-forward-circle"></ion-icon>
          </button>
        </div>

        <div class="dias-container">
          <div class="dia" *ngFor="let dia of dias" [class.ativo]="diaSelecionado === dia.data"
            (click)="selecionarDia(dia.data)">

            <span class="semana">{{ dia.semana }}</span>
            <span class="numero">{{ dia.numero }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- 2. CATEGORIA -->
    <ion-row *ngIf="diaSelecionado">
      <ion-col>
        <h3 class="titulo-horario">2. Selecione a categoria</h3>

        <div class="categorias">
          <div *ngFor="let c of categorias" class="categoria" [class.ativo]="categoriaSelecionada === c.idCategoria"
            (click)="selecionarCategoria(c.idCategoria)">

            <ion-img [src]="'/assets/icones/' + c.icone"></ion-img>
            <span>{{ c.nome }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- 3. SERVIÇO -->
    <ion-row *ngIf="categoriaSelecionada">
      <ion-col>
        <h3 class="titulo-horario">3. Selecione o serviço</h3>

        <ion-item>
          <ion-select multiple="true" placeholder="Escolha os serviços" [(ngModel)]="servicosSelecionados"
            (ionChange)="selecionarServico()">

            <ion-select-option *ngFor="let s of servicos" [value]="s.id">
              {{ s.descricao }}
            </ion-select-option>

          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- 4. HORÁRIO -->
    <ion-row *ngIf="servicosSelecionados.length">
      <ion-col>
        <h3 class="titulo-horario">4. Selecione o horário</h3>

        <div class="horarios-container">

          <div class="horario" *ngFor="let h of horariosDisponiveis" [class.ativo]="horarioSelecionado === h.horario"
            (click)="selecionarHorario(h)">

            {{ h.horario }}

          </div>

        </div>

        <div *ngIf="horarioSelecionado">

          <h3 class="titulo-horario">5. Escolha o profissional</h3>

          <div class="profissionais-container">

            <div class="profissional" *ngFor="let p of profissionaisDoHorario"
              [class.ativo]="agendaSelecionadaId === p.agendaId" (click)="selecionarProfissional(p)">

              <img *ngIf="p.foto" [src]="p.foto" class="foto-profissional" />

              <span>{{ p.nome }}</span>

            </div>

          </div>

        </div>

        <ion-button expand="block" class="btn-confirmar" [disabled]="!agendaSelecionadaId"
          (click)="confirmarAgendamento()">
          Confirmar Agendamento
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
