.categorias {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

.categoria {
  width: 110px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f6efe8;


  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.2s;
  opacity: 0.3;

}


.categoria ion-img {
  width: 95%;
  margin-bottom: 6px;
  border-radius: 20px;
}

.categoria span {
  font-size: 14px;
  font-weight: bold;
  color: #000000;

}

/* selecionado */

.categoria.ativo {

  opacity: 1;
  color: rgb(0, 0, 0);
}

.categoria.ativo span {
  color: rgb(0, 0, 0);
}



.dias-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  gap: 4px;
  margin-top: 10px;
}

.dia {
  height: 55px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

/* selecionado */

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.agenda-header button {
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
}

.titulo {

  color: #fff;
  font-size: 24px;
}



/* card do dia */


/* hover */

.dia:hover {
  transform: translateY(-2px);
}

/* dia atual */

.dia.hoje {
  border: 2px solid #d4a469;
}

/* dia selecionado */

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* texto */

.semana {
  font-size: 11px;
  color: #8b6b4d;
}

.numero {
  font-size: 18px;
  font-weight: 600;
  color: #8b6b4d;
}

/* texto ativo */

.dia.ativo span {
  color: white;
}

.titulo-horario {
  margin-top: 20px;

  color: #8b6b4d;
  font-size: 12px;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.horario {
  padding: 10px 16px;
  border-radius: 12px;

  background: #f6efe8;

  color: #8b6b4d;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.horario.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);


}

.btn-confirmar {
  margin-top: 25px;

  --background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  border-radius: 18px;
}

/* container dos profissionais */
.profissional {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
}

.profissional.ativo {
  background: #ffe5ea;
  border-radius: 6px;
}


/* foto do profissional */
.foto-profissional {
  width: 28px;
  height: 28px;

  border-radius: 50%;
  object-fit: cover;

  border: 2px solid #e7c6c6;
}

.horario {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
}



.hora {
  font-size: 18px;
  font-weight: 600;
}


/*
.dia {
  min-width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}*/
