.categorias {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

.categoria {
  width: 110px;
  height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f6efe8;
  border-radius: 16px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.2s;


}


.categoria ion-img {
  width: 75%;
  margin-bottom: 6px;
}

.categoria span {
  font-size: 12px;
  color: #7a5c3c;
}

/* selecionado */

.categoria.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  color: white;
}

.categoria.ativo span {
  color: white;
}

.dias-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
}

.dia {
  min-width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.2s;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

/* selecionado */

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.agenda-header button {
  background: none;
  border: none;
  font-size: 22px;
  color: #c79a63;
}

.titulo {
  font-weight: 600;
  color: #8b6b4d;
}

.dias-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 30px;
}

.dia {
  min-width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}

.titulo-horario {
  margin-top: 20px;
  font-weight: 600;
  color: #8b6b4d;
  font-size: 16px;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.horario {
  padding: 10px 16px;
  border-radius: 12px;

  background: #f6efe8;

  color: #8b6b4d;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.horario.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  color: white;
}

.btn-confirmar {
  margin-top: 25px;

  --background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  border-radius: 18px;
}
