<ion-header>
  <ion-toolbar class="toolbar-agenda">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <!-- CATEGORIAS -->

    <ion-row>
      <ion-col>

        <h3 class="titulo-horario">1. Selecione o serviço</h3>

        <div class="categorias">

          <div *ngFor="let c of categorias" class="categoria" [class.ativo]="categoriaSelecionada === c.idCategoria"
            (click)="selecionarCategoria(c.idCategoria)">

            <ion-img [src]="'/assets/icones/' + c.icone"></ion-img>

            <span>{{c.nome}}</span>

          </div>

        </div>

      </ion-col>
    </ion-row>

    <!-- SELECT SERVICOS -->

    <ion-row *ngIf="categoriaSelecionada">

      <ion-col>

        <ion-item>

          <ion-select multiple="true" placeholder="Selecione os serviços" [(ngModel)]="servicosSelecionados"
            (ionChange)="buscarHorariosDisponiveis()">

            <ion-select-option *ngFor="let s of servicos" [value]="s.id">

              {{s.descricao}}

            </ion-select-option>

          </ion-select>

        </ion-item>

      </ion-col>

    </ion-row>

    <!-- DIAS -->

    <ion-row>

      <ion-col>

        <h3 class="titulo-horario">2. Selecione o dia</h3>

        <div class="agenda-header">

          <button (click)="semanaAnterior()">
            <ion-icon name="chevron-back-circle"></ion-icon>
          </button>

          <span class="titulo">{{mesAtual}}</span>

          <button (click)="proximaSemana()">
            <ion-icon name="chevron-forward-circle"></ion-icon>
          </button>

        </div>

        <div class="dias-container">

          <div class="dia" *ngFor="let dia of dias" [class.ativo]="diaSelecionado===dia.data"
            (click)="selecionarDia(dia.data)">

            <span class="semana">{{dia.semana}}</span>

            <span class="numero">{{dia.numero}}</span>

          </div>

        </div>

      </ion-col>

    </ion-row>

    <!-- HORARIOS -->

    <ion-row>

      <ion-col>

        <h3 class="titulo-horario">3. Selecione o horário</h3>

        <div class="horarios-container">

          <div class="horario" *ngFor="let h of horariosDisponiveis" [class.ativo]="horarioSelecionado===h.horario"
            (click)="selecionarHorario(h.horario)">

            <div class="hora">

              {{h.horario}}

            </div>

            <div class="profissionais">

              <div *ngFor="let p of h.profissionais">

                <div class="profissional">

                  <img *ngIf="p.foto" [src]="p.foto" class="foto-profissional" />

                  <span>

                    {{p.nome}}

                  </span>

                </div>

              </div>

            </div>

          </div>

        </div>

        <ion-button expand="block" class="btn-confirmar" [disabled]="!horarioSelecionado"
          (click)="confirmarAgendamento()">

          Confirmar Agendamento

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
