.categorias {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

.categoria {
  width: 110px;
  height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f6efe8;
  border-radius: 16px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.2s;


}


.categoria ion-img {
  width: 60%;
  margin-bottom: 6px;
}

.categoria span {
  font-size: 12px;
  color: #7a5c3c;
}

/* selecionado */

.categoria.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  color: white;
}

.categoria.ativo span {
  color: white;
}

.dias-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
}

.dia {
  min-width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.2s;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

/* selecionado */

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.agenda-header button {
  background: none;
  border: none;
  font-size: 22px;
  color: #c79a63;
}

.titulo {
  font-weight: 600;
  color: #8b6b4d;
}

.dias-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 30px;
}

.dia {
  min-width: 50px;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}

.titulo-horario {
  margin-top: 20px;
  font-weight: 600;
  color: #8b6b4d;
  font-size: 16px;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.horario {
  padding: 10px 16px;
  border-radius: 12px;

  background: #f6efe8;

  color: #8b6b4d;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.horario.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);


}

.btn-confirmar {
  margin-top: 25px;

  --background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);

  border-radius: 18px;
}

/* container dos profissionais */
.profissionais {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  flex-wrap: wrap;
}

/* card do profissional */
.profissional {
  display: flex;
  align-items: center;
  gap: 6px;

  background: #f7f7f7;
  padding: 4px 8px;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 500;
}

/* foto do profissional */
.foto-profissional {
  width: 28px;
  height: 28px;

  border-radius: 50%;
  object-fit: cover;

  border: 2px solid #e7c6c6;
}

.horario {

  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}



.hora {
  font-size: 18px;
  font-weight: 600;
}


/*
.dia {
  min-width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  background: #f6efe8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

.semana {
  font-size: 13px;
  color: #8b6b4d;
}

.numero {
  font-size: 20px;
  font-weight: 600;
  color: #8b6b4d;
}

.dia.ativo {
  background: linear-gradient(135deg,
      #e7c39a,
      #d4a469);
}

.dia.ativo span {
  color: white;
}*/
