<ion-header>
  <ion-toolbar class="toolbar-agenda">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home" text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 class="titulo-horario">1. Selecione o serviço</h3>
        <div class="categorias">

          <div *ngFor="let c of categorias" class="categoria" [class.ativo]="categoriaSelecionada === c.idCategoria"
            (click)="selecionarCategoria(c.idCategoria)">

            <ion-img [src]="'/assets/icones/' + c.icone"></ion-img>

            <span>{{ c.nome }}</span>

          </div>


        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="select-servico">

          <ion-item>
            <ion-select aria-label="Serviços" placeholder="Selecione os Serviços" [multiple]="false"
              [(ngModel)]="servicosSelecionados">

              <ion-select-option *ngFor="let s of servicos" [value]="s.id">

                {{s.descricao}}

              </ion-select-option>

            </ion-select>
          </ion-item>

        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="titulo-horario">2. Selecione o dia</h3>
        <div class="agenda-header">
          <button (click)="semanaAnterior()">
            <ion-icon name="chevron-back-circle"></ion-icon>
          </button>
          <span class="titulo">{{ mesAtual }}</span>
          <button (click)="proximaSemana()">
            <ion-icon name="chevron-forward-circle"></ion-icon>
          </button>
        </div>
        <div class="dias-container">
          <div class="dia" *ngFor="let dia of dias" [class.ativo]="diaSelecionado === dia.data"
            (click)="selecionarDia(dia.data)">
            <span class="semana">{{ dia.semana }}</span>
            <span class="numero">{{ dia.numero }}</span>
          </div>

        </div>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="titulo-horario">3. Selecione o horário</h3>
        <div class="horarios-container">

          <div class="horario" *ngFor="let h of horariosDisponiveis" [class.ativo]="horarioSelecionado === h.horario"
            (click)="selecionarHorario(h.horario)">

            {{h.horario}}

            <div class="profissionais">

              <span *ngFor="let p of h.profissionais">
                {{p.nome}}
              </span>

            </div>

          </div>

        </div>

        <ion-button expand="block" class="btn-confirmar" [disabled]="!horarioSelecionado || !diaSelecionado"
          (click)="confirmarAgendamento()">
          Confirmar Agendamento
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-list>
    <ion-item>
      <ion-select label="Serviço" placeholder="Nenhum Serviço">
        <ion-select-option value="apple">Corte</ion-select-option>
        <ion-select-option value="banana">Escova</ion-select-option>
        <ion-select-option value="orange">Mão</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Profissional" label-placement="fixed" placeholder="Sem preferência">
        <ion-select-option value="apple">Sem preferência</ion-select-option>
        <ion-select-option value="apple">Carolina Martins</ion-select-option>
        <ion-select-option value="banana">Monica Santos</ion-select-option>
        <ion-select-option value="orange">Patricia Gomes</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>-->
</ion-content>
