/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.custom-toast {
  margin-top: 30px !important; // ajuste aqui
}

/* Remove divider/shadow do header em iOS e MD */
ion-header,
ion-toolbar {
  --border-width: 0 !important;
  --border-color: transparent !important;
  --box-shadow: none !important;
  box-shadow: none !important;
}



ion-back-button {
  margin-left: 20px;
  --color: #7a4e3a;
  --icon-font-size: 28px;
}

ion-content {

  --background: #FEFAF8;
}

/* iOS: o traço geralmente vem daqui */
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

/* MD: o traço geralmente é um pseudo-elemento ::after */
.header-md::after {
  background-image: none !important;
  height: 0 !important;
}

/* Alguns temas colocam hairline no próprio header */
ion-header::after {
  display: none !important;
}



.app-header {
  position: relative;
  margin-top: 10px;
}

.btn-principal-home {
  top: 50px;
  position: absolute;
  left: 12px;
}

/*
.app-header ion-menu-button {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 999;
  padding: 0px;
}*/

ion-menu-button {
  --color: #D4AF37;
  /* dourado clássico */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-container img {
  height: 150px;
  width: auto;

}

.btn-gold {
  --background: transparent;
  --box-shadow: none;
  font-size: 12px;
  background: linear-gradient(135deg,
      #e7c39a 0%,
      #d9a96f 45%,
      #c89254 100%);
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 12px;
  box-shadow:
    0 4px 10px rgba(201, 146, 84, 0.35),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
}

.gold-wrapper {
  padding: 0 0px;
  border-radius: 5px;
  background: linear-gradient(180deg,
      #f7f2ed 0%,
      #efe7df 100%);

  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(230, 210, 190, 0.5);
  color: #85695A;
}

.gold-card {
  margin: 0px;
}

.gold-wrapper-white {
  padding: 0 0px;
  border-radius: 5px;
  background: #fff;
  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(230, 210, 190, 0.5);
  color: #85695A;
}

.profissional-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid #f3e9df;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}



.app-title {
  color: #85695A;
  font-size: 18px;
  font-weight: bold;
}

ion-row {
  margin-bottom: 10px;
}

.toolbar-agenda {
  --background: #FEFAF8;
  --color: #ffffff;
}

.people {
  align-items: center;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-servico {
  background: white;
  border-radius: 16px;

  border: 1px solid #f0e6da;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.select-servico ion-select {
  width: 100%;
  font-size: 15px;
  color: #8b6b4d;
  font-weight: 500;
}

.select-servico ion-select::part(icon) {
  color: #d4a469;
}

.select-servico ion-select::part(placeholder) {
  color: #c4a484;
}
